html {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  font-family: $sawarabi-font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'pkna';
  @include font($size: 16px, $color: $theme-crimson);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body,
#__nuxt,
#__layout,
.layout {
  height: 100%;
}

body {
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}
