// mono
$white: #fff;
$light-gray: #eee;
$gray: #c4c4c4;
$dark-gray: #333;

// colors
$theme-crimson: #7c304a;
$theme-light-crimson: #cc9aa6;
$theme-white: #e8e4d6;

$theme-light-gray: #fffbee;
$theme-light-yellow: #ffed97;

$theme-peach: #f7e2d6;
$theme-red: #c04b4b;

$theme-dark-red: #2c0119;
$theme-black: #3e354c;

//fonts
$sawarabi-font: 'Sawarabi Mincho', 'serif';
$font-regular: 400;
// $font-medium: 500;
// $font-bold: 700;

//cubic-bezier
$ease-out: cubic-bezier(0.19, 0.18, 0, 0.98);
$ease-in-out: cubic-bezier(0.73, 0.04, 0.26, 0.95);
$ease-out-bounds: cubic-bezier(0.5, 1.61, 0.39, 0.87);

// responsive variable
